<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estils.css">
</head>
<body>
    <header>
        <h1>Experience</h1>
    </header>
    <main>
        <div class="button-container">
            <a href="./index_en.html">
             <button>return</button>
            </a>
        </div>
        <section class="section">
            <h2>Work experience</h2>
            <p>2023 Internship at Garbi Pere Verges Esplugues School</p>
        </section>
        <section class="section">
            <h2>Roles and Responsibilities</h2>
            <p>The functions and responsibilities that I had to deal with while being a company intern were: helping teachers and students in problems with their devices and/or questions they had at that time, maintenance of the different TVs, projectors, racks and the data center itself, assembly of speakers, microphones, among other things for events or informative talks,  pallet of obsolete materials, maintenance of the Wi-Fi, mediator with the teachers at chosen times to solve doubts of the different courses and implementation of programs necessary for the training of these and work with office applications (Word, Excel, etc..)</p>
        </section>
        <section class="section">
            <h2>Non-work activities</h2>
            <p>I have gained computer experience thanks to the help I have provided to my relatives. I've also been active on various forums, where I've done tasks like chat surveillance and even bot programming.</p>
        </section>
    </main>
</body>
</html>