<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/estils.css">
</head>
<body>
    <header>
        <h1>Óscar Pérez Ortega</h1>
        <div class="button-container">
          <a href="./index_summary.html">
            <button>Index Summary</button>
          </a>
          <a href="./experience.html">
            <button>experience</button>
          </a>
          <a href="./education.html">
            <button>Education</button>
          </a>
          <a href="../../index.html">
            <button>Spanish</button>
          </a>
        </div>
      </header>
      
    <main>
        <section class="section">
                <h2>Contact Details</h2>
                <p>L'Hospitalet de Llobregat (08901)</p>
                <p>+34 6712227 04</p>
                <p>oscarpz1103@gmail.com</p>
                <article class="right"></article>
                <img src="../../img/Captura de pantalla 2024-05-03 153920.png">    
        </section>
        <section class="section">
            <h2>What do I like?</h2>
            <ul>
                <li>-Dive</li>
                <li>-Basketball</li>
                <li>-Music</li>
                <li>-Travel</li>
                <li>-Fishing</li>
                <li>-Read</li>
                <li>-Movies</li>
                <li>-Sleep</li>
                <img src="../../img/tipos-trajes-buceo.jpg">
            </ul>
        </section>
        <section class="section">
            <h2>About Me</h2>
            <p>My name is Oscar, I am a person who loves the sea, the beach, rivers, among others. I love basketball, since I was very young I have been a fan and I have loved playing it, I was from the age of 6 until I was 18 years old that I still follow (now alone) since I had to leave my team to focus on my studies, I also like to sleep and enjoy the different trips I make and also when I am with my friends or my family,  Since they are the best thing I have and I would never change them for anything, I like music and reading among other things, it is rare that I am not seen doing some of those things or even playing.</p>
        </section>
        <section class="section">
            <h2>Who I am</h2>
            <p>I am a very kind person, sociable, I love to help those who need help, forgetful at times, joking/funny, clumsy from time to time and I even laugh at my own shadow if necessary</p>
        </section>
        <section class="section">
            <h2>My Future</h2>
            <p>In the future, I would like to be able to do the higher degree in DAW, after that I would like to do the computer science career I would like to train for a second career which would be law or criminology and after that look for a job, since in the future I would like to be a police officer or computer scientist for a large company or a police computer scientist</p>
        </section>   
</body>
</html>