<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estils.css">
</head>
<body>
    <header>
        <h1>Experiencia</h1>
    </header>
    <main>
        <section class="section">
            <h2>Experiencia laboral</h2>
            <p>2023 Prácticas de empresa en el colegio Garbi Pere Verges Esplugues</p>
        </section>
        <section class="section">
            <h2>Funciones y responsabilidades</h2>
            <p>Las funciones que y responsabilidades que tuve que tratar estando de practicas de empresa fueron: ayudar a profesores y alumnos en problemas con sus dispositivos y/o preguntas que tenian en ese momento, mantenimiento de las distintas teles, proyectores, racks y el propio cpd, montaje de altavoces, microfonos, entre otras cosas para eventos o charlas informativas, pale de materiales obsoletos, mantenimiento del wifi, mediador junto a los profesores en horas elegidas para resolver dudas de los distintos cursos e implementación de programas necesarios para la formación de estos y trabajo con aplicaciones ofimaticas (word,excel, etc..)</p>
        </section>
        <section class="section">
            <h2>Actividades no laborales</h2>
            <p>He adquirido experiencia informática gracias a la ayuda que he proporcionado a mis familiares. También ha estado activo en diversos foros, donde he realizado tareas como la vigilancia de chat e incluso la programación de bots.</p>
        </section>
    </main>
</body>
</html>