<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estils.css">
</head>
<body>
    <header>
        <h1>Resumen</h1>
    </header>
    <main>
        <div class="button-container">
            <a href="../index.html">
             <button>Volver</button>
            </a>
        </div>
        <section class="section">
                <h2>Datos de contacto</h2>
                <p>L'Hospitalet de Llobregat (08901)</p>
                <p>+34 6712227 04</p>
                <p>oscarpz1103@gmail.com</p>
                <article class="derecha"></article>
                <img src="../img/Captura de pantalla 2024-05-03 153920.png">    
        </section>
        <section class="section">
            <h2>Competencias personales</h2>
            <ul>
                <li>- Autonomía</li>
                <li>- Iniciativa</li>
                <li>- Organización del trabajo</li>
                <li>- Trabajo en equipo</li>
                <li>- Comunicación</li>
                <li>- Flexibilidad a los cambios</li>
                <li>- Compromiso</li>
                <li>- Liderazgo</li>
            </ul>
        </section>
        <section class="section">
            <h2>Objetivo profesional</h2>
            <p>Mi obejtivo es completar el CFGM de sistemas microinformáticos y redes, mientras adquiere conocimientos práctica en un entorno profesional a través de un programa de prácticas. Con esto espero desarrollar habilidades y competencias en el sector de las tecnologías de la información. Me preparo para futuros estudios relacionados con las TIC. En un futuro, aspiro a ser policía y hacer uso de mis habilidades informáticas para mejorar la seguridad y la protección de los ciudadanos.</p>
        </section>
        <section class="section">
            <h2>Experiencia laboral</h2>
            <p>2023 Prácticas de empresa en el colegio Garbi Pere Verges Esplugues</p>
        </section>
        <section class="section">
            <h2>Formación reglada</h2>
            <p>2022 Educación Secundaria Obligatoria en el colegio Tecla Sala</p>
            <p>Cursando - GFGM de Sistemas Microinformáticos y Xarxes - Joan XXIII</p>
        </section>
        <section class="section">
            <h2>Formación complementaria</h2>
            <h3>Idiomas</h3>
            <ul>
                <li>- Catalán</li>
                <li>- Castellano</li>
                <li>- Inglés</li>
            </ul>
            <h3>Informática</h3>
            <ul>
                <li>- Microsoft Office</li>
                <li>- Adobe Photoshop</li>
                <li>- Microsoft Teams</li>
            </ul>
            <h3>Cursos</h3>
            <ul>
                <li>Curs de Programación en el lenguaje de Python - FreeCodeCamp</li>
                <li>Seguridad en la Red - Barcelona Activa</li>
            </ul>
        </section>
        <section class="section">
            <h2>Actividades no laborales</h2>
            <p>He adquirido experiencia informática gracias a la ayuda que he proporcionado a mis familiares. También ha estado activo en diversos foros, donde he realizado tareas como la vigilancia de chat e incluso la programación de bots.</p>
        </section>
    </main>
    <footer>
        <p class="foot">Óscar Pérez Ortega - Data de naixement: 11/03/2006</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1130488937997!2d2.1047169115160242!3d41.34989647118497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1714749771545!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="centrado"> </iframe>
    </footer>
</body>
</html>